@use "../../styles" as *;

.layout {
  display: flex;
  justify-content: center;
  margin: 32px 0;
  padding: 0 16px;
}

.layout_container {
  display: flex;
  width: 1200px;

  @include media-query($tablet-m) {
    flex-direction: column;
    gap: 20px;
  }
}
