@use "../../styles" as *;

.item {
  display: flex;
}

.link {
  @include accessibility($primary-420);

  color: $secondary-600;
  font-size: 14px;
  padding: 16px;
  text-transform: uppercase;
  transition: background-color 0.15s, box-shadow 0.15s, color 0.15s;

  &:hover {
    background-color: $primary-420;
    color: $secondary-000;
  }

  @include media-query($laptop-s) {
    width: 100%;
  }
}
