@use "../../styles" as *;

@include card;

.list {
  display: flex;
  flex-direction: column;

  li {
    border-bottom: 0.1rem solid #ffffff1a;
    display: flex;
    font: 1.4rem $primary-group;
    justify-content: space-between;
    padding: 1.2rem 0;
  }
}
