@use "../../styles" as *;

@include card;

.list {
  display: flex;
  flex-direction: column;
  font-family: $primary-group;

  li {
    border-bottom: 0.1rem solid #ffffff1a;
    display: flex;
    font-size: 1.4rem;
    justify-content: space-between;
    padding: 1.2rem 0;
  }
}
