@use "../../styles" as *;

@include card;

.card {
  gap: 26px;
  justify-content: space-between;
}

.card_container {
  gap: 16px;
}

.description {
  font-family: $primary-group;
  font-size: 14px;
  line-height: 1.6;
}

.link {
  @include focus("large", $secondary-000, "dark");

  border: 1px solid $secondary-000;
  color: $secondary-000;
  font-family: $primary-group;
  font-size: 14px;
  font-weight: 600;
  padding: 12px;
  text-align: center;
  transition: background-color 0.15s, box-shadow 0.15s, color 0.15s;
  width: 120px;

  &:hover {
    background-color: $secondary-000;
    color: $secondary-600;
  }
}
