@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    /* Colocar as cores aqui! */

    --strong-font: 'Source Sans Pro';
    --standard-font: 'Open Sans';
    --reserve-fonts: Arial, sans-serif;
}

header {
    display: flex;
    height: 120px;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.logo {
    align-items: center;
    display: flex;
    font-family: var(--strong-font), var(--reserve-fonts);
}

.logo > a {
    color: #000;
    display: flex;
}

.logo img {
    margin-right: 20px;
}

.logo h1 {
    font-weight: normal;
}

.menu {
    align-items: center;
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    color: #666666;
    display: block;
    font-family: var(--standard-font), var(--reserve-fonts);
    font-size: 14px;
    margin: 0 5px;
    padding: 15px;
    text-transform: uppercase;
}

nav .active,
nav a:hover {
    background-color: #42b3e5;
    color: #fff;
    transition: all 0.1s linear;
}

.banner {
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    height: 800px;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.banner-headline {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: var(--strong-font), var(--reserve-fonts);
    justify-content: center;
}

.banner-headline > h2 {
    color: #fff;
    font-size: 70px;
    max-width: 350px;
    text-shadow: 0px 1px 0px #555;
}

.banner-headline > h3 {
    color: #fff;
    font-size: 21px;
    font-weight: normal;
    margin-top: 30px;
    max-width: 350px;
    text-shadow: 0px 1px 0px #555;
}

.banner-options {
    display: flex;
    height: 250px;
}

.banner-1 {
    background-color: #42b3e5;
}

.banner-2 {
    background-color: #0384ce;
}

.banner-3 {
    background-color: #3156a3;
}

.banner-1,
.banner-2,
.banner-3 {
    color: #FFF;
    flex: 1;
    padding: 25px 30px 30px;
}

.banner-title {
    font-family: var(--strong-font), var(--reserve-fonts);
    font-size: 24px;
    font-weight: normal;
}

.banner-description > p {
    font-family: var(--standard-font), var(--reserve-fonts);
    font-size: 14px;
    line-height: 1.7;
    margin: 15px 0 0 0;
}

.banner-options a {
    border: 1px solid #FFF;
    color: #FFF;
    display: inline-block;
    font-family: var(--standard-font), var(--reserve-fonts);
    font-size: 14px;
    padding: 12px 19px;
    margin: 26px 0 0;
}

.banner-options a:hover {
    background-color: #FFF;
    color: #000;
    transition: all 0.1s linear;
}

.banner-description > ul {
    font-family: var(--standard-font), var(--reserve-fonts);
    font-size: 14px;
    list-style: none;
    margin-top: 5px;
}

.banner-description li {
    border-bottom: 1px solid #FFFFFF1a;;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.general {
    display: flex;
    justify-content: center;
}

main {
    flex: 2;
}

aside {
    flex: 1;
}

.widget-title {
    margin: 30px 0 20px 0;
}

.widget-title-text {
    color: #000;
    font-family: var(--standard-font), var(--reserve-fonts);
}

.widget-title-bar {
    background-color: #42B3E5;
    height: 2px;
    margin-top: 10px;
    width: 50px;
}

.widget-body {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    margin-right: 20px;
    min-width: 300px;
}

.news-data {
    display: flex;
}

.news-posted-at {
    background-color: #3156a3;
    color: #FFF;
    margin-right: 2px;
    padding: 10px;
}

.news-comments {
    background-color: #42b3e5;
    color: #FFF;
    padding: 10px;
}

.news-thumbnail {
    margin-top: 30px;
}

.news-thumbnail > img {
    height: auto;
    width: 100%;
}

.news-title {
    color: #000;
    margin: 25px 0;
}

.news-resume {
    color: #5C5C5C;
    margin-bottom: 30px;
    line-height: 20px;
}

footer {
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
}

.flex-column {
    background-color: red;
    flex-direction: column;
}

.footer-menu {
    display: flex;
}

.menu-1 {
    background-color: #42b3e5;
}

.menu-2 {
    background-color: #0384ce;
}

.menu-3 {
    background-color: #3156a3;
}

.menu-1,
.menu-2,
.menu-3 {
    color: #fff;
    flex: 1;
    padding: 20px;
}

.footer-area {
    color: #fff;
    display: flex;
}

footer .widget-title-text {
    color: #fff;
}

.area-item {
    flex: 1;
}
















.footer-copyright {
    border-top: 1px solid #2c2c2c;
    color: #5c5c5c;
    height: 40px;
    line-height: 40px;
    margin-top: 30px;
}