* {
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
}

header {
    display: flex;
    height: 120px;
    justify-content: center;
}

.container {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo > img {
    width: 200px;
    height: 100px;
}