@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --strong-font: 'Source Sans Pro';
    --standard-font: 'Open Sans';
    --reserve-fonts: Arial, sans-serif;
}

header {
    display: flex;
    height: 120px;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.logo {
    align-items: center;
    display: flex;
    font-family: var(--strong-font), var(--reserve-fonts);
}

.logo > a {
    color: #000;
    display: flex;
}

.logo img {
    margin-right: 20px;
}

.logo h1 {
    font-weight: normal;
}

.menu {
    align-items: center;
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    color: #666666;
    display: block;
    font-family: var(--standard-font), var(--reserve-fonts);
    font-size: 14px;
    margin: 0 5px;
    padding: 15px;
    text-transform: uppercase;
}

nav .active,
nav a:hover {
    background-color: #42b3e5;
    color: #fff;
    transition: all 0.1s linear;
}

.banner {
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    height: 800px;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.banner-headline {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: var(--strong-font), var(--reserve-fonts);
    justify-content: center;
}

.banner-headline > h2 {
    color: #fff;
    font-size: 70px;
    max-width: 350px;
    text-shadow: 0px 1px 0px #555;
}

.banner-headline > h3 {
    color: #fff;
    font-size: 21px;
    font-weight: normal;
    margin-top: 30px;
    max-width: 350px;
    text-shadow: 0px 1px 0px #555;
}

.banner-options {
    display: flex;
    height: 250px;
}

.banner-1,
.banner-2,
.banner-3 {
    color: #FFF;
    flex: 1;
    padding: 25px 30px 30px;
}

.banner-1 {
    background-color: #42b3e5;
}

.banner-2 {
    background-color: #0384ce;
}

.banner-3 {
    background-color: #3156a3;
}

.banner-title {
    font-family: var(--strong-font), var(--reserve-fonts);
    font-size: 24px;
    font-weight: normal;
}

.banner-description > p {
    font-family: var(--standard-font), var(--reserve-fonts);
    font-size: 14px;
    line-height: 1.7;
    margin: 15px 0 0 0;
}

.banner-options a {
    border: 1px solid #FFF;
    color: #FFF;
    display: inline-block;
    font-family: var(--standard-font), var(--reserve-fonts);
    font-size: 14px;
    padding: 12px 19px;
    margin: 26px 0 0;
}

.banner-options a:hover {
    background-color: #FFF;
    color: #000;
    transition: all 0.1s linear;
}

.banner-description > ul {
    font-family: var(--standard-font), var(--reserve-fonts);
    font-size: 14px;
    list-style: none;
    margin-top: 5px;
}

.banner-description li {
    border-bottom: 1px solid #FFFFFF1a;;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}