@use "../../styles" as *;

.layout {
  display: flex;
  justify-content: center;
  margin: 3.2rem 0;
  padding: 0 1.6rem;
}

.layout_container {
  display: flex;
  width: 120rem;
}

.main {
  display: flex;
  flex: 2;
  padding-right: 2rem;
}

.aside {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 3.2rem;
}

@include media-query($tablet-m) {
  .layout_container {
    flex-direction: column;
    gap: 2rem;
  }

  .main {
    padding: 0;
  }
}
