@use "../../styles" as *;

.link {
  @include focus("large", $primary-420);

  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.heading {
  color: $secondary-000;
  display: flex;
  font-size: 1.4rem;
  gap: 0.2rem;
}

.date {
  background-color: $primary-580;
  border-radius: 0.6rem;
  padding: 1rem;
}

.comments {
  background-color: $primary-420;
  border-radius: 0.6rem;
  padding: 1rem;
}

.image {
  border-radius: 0.6rem;
}

.title {
  color: $secondary-880;
  font-size: 2.4rem;
  font-weight: 600;
}

.content {
  color: $secondary-600;
  font-size: 1.4rem;
}
