@use "../../styles" as *;

.post {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 4px;
}

.content {
  color: $secondary-000;
}

.date {
  color: $primary-420;
  transition: color 0.15s;
  width: fit-content;

  &:hover {
    color: $primary-590;
  }
}
