@use "../../styles" as *;

.post {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  gap: 0.4rem;
}

.content {
  color: $secondary-000;
}

.date {
  @include focus("small", $secondary-000, "dark");

  color: $primary-420;
  transition: color 0.15s;
  width: fit-content;

  &:hover {
    color: $primary-590;
  }
}
